#main .form {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	padding-bottom: 0px;
	width: 100%;
}

#main .form > *:not(:last-child) {
	margin-bottom: 1.5rem;
}

#main .form input,
#main .form textarea {
	background-color: #fff;
	border: none;
	font-size: 0.875rem;
	padding: 0.625rem 1.125rem;
	width: 100%;
}

#main .form input {
	border-radius: 9999px;
}

#main .form textarea {
	border-radius: 0.5rem;
}

#main .form button {
	background-color: #d44;
	border: 0.0625rem solid #d44;
	border-radius: 9999px;
	color: #fff;
	font-size: 0.875rem;
	padding: 0.625rem 1.125rem;
	text-align: center;
	transition: background-color 0.2s ease, color 0.2s ease;
}

#main .form button:hover,
#main .form button:focus {
	background: none;
	color: #d44;
}

@media (min-width: 768px) {
	#main .form {
		align-items: flex-start;
	}
}
