.card {
	background-color: #fff;
	border-radius: 0.5rem;
	display: flex;
	flex-direction: column;
	padding: 2rem;
}

.card .card__title {
	color: #d44;
	font-size: 1.25rem;
	font-weight: 600;
	margin-bottom: 1rem;
}

.card .card__text {
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.5;
}
